<div id="menuDiv">
    <a routerLink="/">
        <img *ngIf="!router.isActive('', false)" src="assets/unselected-home-icon.svg" alt="Home button">
        <img *ngIf="router.isActive('', false)" src="assets/selected-home-icon.svg" alt="Home button">
    </a>
    <a routerLink="/grafico">
        <img *ngIf="!router.isActive('/grafico', false)" src="assets/unselected-chart-icon.png" alt="Chart button">
        <img *ngIf="router.isActive('/grafico', false)" src="assets/selected-chart-icon.png" alt="Chart button">
    </a>
</div>
