<div id="menuDiv">
    <a routerLink="/">
        <img *ngIf="!router.isActive('/', false)" src="assets/unselected-home-icon.svg" alt="Home button">
        <img *ngIf="router.isActive('/', false)" src="assets/selected-home-icon.svg" alt="Home button">
    </a>
    <a routerLink="/chart1">
        <img *ngIf="!router.isActive('/chart1', false)" src="assets/unselected-chart-icon.png" alt="Chart 1 button">
        <img *ngIf="router.isActive('/chart1', false)" src="assets/selected-chart-icon.png" alt="Chart 1 button">
    </a>
</div>
