
<ng-template #content let-offcanvas>
	<div class="offcanvas-header">
		<button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
	</div>
	<div class="offcanvas-body" id="menuDiv">
    <a routerLink="/">
      <img *ngIf="!router.isActive('', true)" src="assets/unselected-home-icon.svg" alt="Home button">
      <img *ngIf="router.isActive('', true)" src="assets/selected-home-icon.svg" alt="Home button">
    </a>
    <a routerLink="/grafico">
      <img *ngIf="!router.isActive('/grafico', true)" src="assets/unselected-chart-icon.png" alt="Chart button">
      <img *ngIf="router.isActive('/grafico', true)" src="assets/selected-chart-icon.png" alt="Chart button">
    </a>
		<div class="text-end">
		</div>
	</div>
</ng-template>
<button class="btn btn-sn btn-outline-dark" (click)="open(content)"> <img src="../../../assets/icon-hamburguer.svg" width="60%" alt="icon menu"> </button>

