<div id="graficoPageDiv">
    <app-filtro></app-filtro>
    <div>
        <div style="display: flex; justify-content: space-between; align-items: end;">
            <div>
                <h1>Tipo de gráfico</h1>
                <select (change)="changeChartType($event)">
                    <option value="bar">Barras</option>
                    <option value="line">Linha</option>
                    <option value="doughnut">Rosquinha</option>
                </select>
            </div>
            <a download="grafico.jpg" href={{this.chartChild?.imageUrl}}>Converter para imagem</a>
        </div>
        <app-main-chart [chartType]=this.selectedChartType [groupingButtons]=this.groupingButtons
            [data]=this.entireDataset></app-main-chart>
    </div>
</div>