#filtroDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 22vh;
    box-shadow: rgb(190, 190, 190) 3px 2px 1px;
    border-radius: 3%;
}

#dateDiv {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

#dateDiv .optionsDiv {
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.filter-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 20vw;
}

button {
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 2vh;
    border-radius: 10%;
    max-width: 100px;
}

button:hover {
    background-color: grey;
}

.selected {
    background-color: grey;
}

.titleButton {
    font-weight: bold;
    font-size: larger;
}