<div id="{{filterTitle + 'Div'}}" class="filter-card">
    <h1>{{ filterTitle }}</h1>
    <div id="{{filterTitle + 'OptionsDiv'}}">
        <div class="dateOptionsDiv" *ngIf="this.filterType == 'date'">
            <div>
                <button>De:</button>
                <input type="date" name="dateStart" id="dateStart">
            </div>
            <div>
                <button>Até:</button>
                <input type="date" name="dateEnd" id="dateEnd">
            </div>
        </div>

        <div class="nonDateOptions" *ngIf="this.filterType != 'date' && this.filterData != undefined">
            <select>
                <option value=""></option>
                <option *ngFor="let data of filterData" id="{{data.value + 'Button'}}" value={{data.value}}>{{data.name}}</option>
            </select>
        </div>
    </div>
</div>