<div id="homePageDiv">
    <div id="chartsDiv">
        <app-main-chart [divWidth]='40' [chartType]="'line'" [data]=this.userChartData></app-main-chart>
        <app-main-chart [divWidth]='40' [chartType]="'line'" [data]=this.docChartData></app-main-chart>
    </div>

    <div id="boxesDiv">
        <app-destaque titulo={{tituloQntTotalPaginasTestadas}} destaque={{qntTotalPaginasTestadas}}></app-destaque>
        <div id="semanaDiv">
            <h1>Esta semana...</h1>
            <app-destaque titulo={{tituloDocumentoMaisTestado}} destaque={{documentoMaisTestadoSemana}}></app-destaque>
            <app-destaque titulo={{tituloEmpresaMaisTestou}} destaque={{empresaMaisTestouSemana}}></app-destaque>
        </div>

        <div id="mesDiv">
            <h1>Este mes...</h1>
            <app-destaque titulo={{tituloDocumentoMaisTestado}} destaque={{documentoMaisTestadoMes}}></app-destaque>
            <app-destaque titulo={{tituloEmpresaMaisTestou}} destaque={{empresaMaisTestouMes}}></app-destaque>
        </div>
    </div>
</div>