<div [style.width.vw]=this.divWidth class="chartDiv">
    <canvas id={{this.canvasID}}>{{ chart }}</canvas>
    <div id="groupDiv">
        <div ngbDropdown class="d-inline-block">
			<button type="button" class="btn btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle>
                Agrupamento
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				<button ngbDropdownItem (click)="groupbyClicked(button.value)" *ngFor="let button of groupingButtons; let isFirst = first" [class.selected]='isFirst' value="{{button.value}}" id="{{button.name + 'Button'}}">{{'Agrupar por ' + button.text }}</button>
			</div>
    </div>
</div>

